/* Yorum Satırı */

body{
    background-image: url("/static/imgs/background.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #cc7fc8;
    z-index: 10;
    
}

.menu_l{
    list-style: none;
    display: block;
    float: left;
    left: 0;
    padding-left: 0;
    margin-left: 5px;
}

.menu_l li,.menu_r li{
    display: inline;
    margin: 10px;
    position: relative;
    font-family: Arial;
    font-size: 20px;
}

.menu_l a,.menu_r a{
    text-decoration:none;
    color: rgb(255, 255, 255);
    padding-bottom: 19px;
    padding-top: 19px;
}
#navbar_bold{
    font-weight: bold;
    font-size: 25px;
}

.menu_r{
    list-style: none;
    display: block;
    float: right;
    left: 0;
    padding-right: 0;
    margin-right: 5px;
}

#left_menu{
    position: fixed;
    left: 0;
    top: 60px;
    width: 200px;
    height: 100%;
    background-color: #853b6cb7;  
}

#left_menu ul{
    list-style: none;
    padding-left: 0;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial;    
}

#left_menu_div1{
    position: fixed;
    left: 20px;
    top: 80px;
    width: 160px;
    height: 200px;
    background-color: #853b6cb7;
    border-radius: 10px;
}

#left_menu_div2{
    position: fixed;
    left: 20px;
    top: 300px;
    width: 160px;
    height: 200px;
    background-color: #853b6cb7;
    border-radius: 10px;
}

a:hover{
    color: rgb(255, 210, 251);
}

.ilan_box{
    width: 1000px;
    background-color:rgb(255, 255, 255);
    height: 650px;
    margin-left:500px;
    margin-top: 100px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    transition: transform 0.5s;
}

.ilan_box:hover{
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.288);
    transform: scale(1.05);
}

.ilan_details:hover{
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.288);
    transform: scale(1.05);
}

.ilan_image{
    height: 300px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    width: 50%;
}

.ilan_title{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-family: Arial;
    position: absolute;
    top: 25px;
    left: 1%;
    right: 1%;
    color: #853b6cda;
}

.ilan_content{
    padding: 10px;
    font-family: Arial;
    font-size: 20px;
    height: 10px;
    text-overflow:ellipsis;
}

.ilan_content_div{
    width: 900px;
    height:230px;
    background-color:rgba(245, 245, 245, 0.89);
    position: relative;
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.ilan_a{
    display: none;
    
}

.ilan_details{
    width: 280px;
    background-color:rgb(255, 255, 255);
    height: 650px;
    right: 60px;
    top: 100px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    transition: transform 0.5s;
}

.detay{
    display: none;
    margin-left: 200px;
    margin-top: 15px;
}

.detay li{
    display: block;
    background-color: #e4c1e2;
    width: 150px;
    margin: 0;
    height: 40px;
    transition: background-color 0.5s;
}

.detay a{
    display: block;
    text-align: center;
    height: 20px;
    line-height: 5px;
}
.detay a:hover{
    color: rgb(255, 255, 255);
}
/*
ul li a:hover + .detay{
    display: block;

}
  */

#evcil:hover ~ .detay,.detay:hover{
    display: block;
}

.detay li:hover{
    background-color: #c7a5c5;
}