<div class="navbar">
        <ul class="menu_l">
            <li ><a id="navbar_bold" href="/#">LilaVet.</a></li>
            <li><a href="/#">Hakkımızda</a></li>
            <li>
                <a id="evcil" href="/#">Evcil Dostlar</a>
                    <ul class="detay">
                        <li><a href="">Köpek</a></li>
                        <li><a href="">Kedi</a></li>
                        <li><a href="">Kuş</a></li>
                    </ul>
            </li>
        </ul>
        <ul class="menu_r">
            <li ><a  href="/#">İlanların</a></li>
            <li><a href="/#">Çıkış Yap</a></li>
            <li style="color: white;">|</li>
            <li><a id="navbar_bold" href="/#">Fege41</a></li>
        </ul>
</div>