{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position Şekli</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include "includes/navbar.html" %}
    <div id="left_menu">
        <div id="left_menu_div1">
            <ul>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
            </ul>
        </div>
        <div id="left_menu_div2">
            <ul>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
                <li>Lorem, ipsum.</li>
            </ul>
        </div>
        
    </div>
    <!-- Genel İlanların hepsi -->
        <!-- ilan body -->
        <div class="ilan_box">
            <span class="ilan_title">Saf Kan Golden Retriever</span>
            <img class="ilan_image" src="{% static 'imgs/dog.jpg' %}" alt="">
            <div class="ilan_content_div">
                <div class="ilan_content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex voluptatibus, quibusdam est voluptates atque nulla saepe. Consequuntur enim odio ullam dolore quos quae magni exercitationem nihil ratione facere, libero quam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt perferendis earum, quisquam obcaecati optio quod reiciendis deserunt saepe sequi voluptates quidem corporis excepturi voluptatum mollitia architecto sapiente cupiditate amet voluptas. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quos rem, eveniet quidem temporibus officia velit inventore corporis assumenda vel, impedit illo doloremque labore minima excepturi fugit modi reprehenderit laudantium!</div>
            </div>
        </div>
        <div class ="ilan_details">

        
        </div>
        <!-- ilan body -->
        
        <div class="ilan_box">
    
        </div>
        
        <div class="ilan_box">
        
        </div>
    
    
</body>
</html>

